.containerTitulos{
    display: flex; 
    padding: 50px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.OrdersContainer{
    color: #fff;
    padding: 10px;
    margin: 30px
}

.formContainer {
    width: 50%; /* Ocupa el 50% del ancho de la pantalla */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




