.containerTitulos{
    display: flex; 
    padding: 50px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.OrdersContainer{
    color: #fff;
    padding-bottom: 25px;
    padding-left: 25px;
}


